.form-control {
    display: flex;
    flex-direction: column;
    flex: 0 0 49%;
    gap: 5px;
    margin-bottom: 5px;
}

.form-control input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}

.form-control label {
    font-weight: bold;
}
